<div class="container">
  <h2 class="watch-list-header">Login</h2>
  <div class="stitched watch-list">
    <%= form_for(:session, url:login_path) do |f| %>

      <div class="row">
        <div class="col-md-6">
        <%= f.label "Email", :class => "login-form"%>
        <%= f.text_field :email %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
      <%= f.label "Password" %>
      <%= f.password_field :password %>
        </div>
      </div>

      <%= f.submit 'Login', :class => "btn btn-info" %> <br><br>
      <%= link_to "New User? Sign Up ", new_users_path %>
    <% end %>
  </div>
  
</div>
