<div class="container">
  <h1>Watch List</h1>
  <div class="stitched">
    <table>

      <tr>
        <th>Item</th>
        <th>Top Bid</th>
        <th>Remove</th>
        <th></th>
      </tr>

      <tr>
        <% @cart.contents.each do |k,v| %>

          <td><%= @cart.find_item(v).name %></td>
          <td><%= number_to_currency(@cart.find_item(v).starting_price) %></td>
          <td>
            <%= link_to "remove item", watch_item_path(@cart, "item" => {item_id: v}), method: "delete" %>
          </td>
          <td>
            
        <% if current_user %>
          <%= button_to "Bid", '#' %>
        <% else %>
           <%= link_to "Please log in to bid.", login_path %>
        <% end %>
          </td>
        </tr>
        <% end %>
      

    </table>

  </div>
  <br/>

  <h4> Total Items: <%= @cart.contents.count %></h4>

</div>