<div class="container">
<%= render :partial => 'layouts/admin_login_header.html.erb' %>
<%= render :partial => 'layouts/sitewide_header.html.erb' %>

<div class="stitched">
<%= form_for [:admin, @order] do |f| %>
  <%= f.label "user_id" %>
  <%= f.text_field "user_id" %>

  <%= f.label "status" %>
  <%= f.text_field "status" %>

  <%= f.label "total" %>
  <%= f.text_field "total" %>

  <%= f.collection_check_boxes(:tag_ids, @tags, :id, :name) %><br>

  <%= f.submit %>
<% end %>

</div>
</div>
