<div class="container">
<%= render :partial => 'layouts/admin_login_header.html.erb' %>
<%= render :partial => 'layouts/sitewide_header.html.erb' %>

<div class="stitched">
<% @order.beers.each do |beer| %>
  <% OrderBeer.quantities(beer.id, @order.id).each do |ob| %>
    <%= ob.quantity %>
    <%= link_to beer.name, beer_path(beer) %>
    subtotal: <%= number_to_currency(OrderBeer.line_item_subtotal(beer.price, ob.quantity.to_i)) %></br>
  <% end %>
<% end %>

user name: <%= Order.user_name(@order) %><br>
user email: <%= Order.user_email(@order) %><br>


<%= number_to_currency(@order.total) %><br>
status: <%= @order.status %><br>
submitted: <%= @order.created_at %><br>
</div>
</div>
