<div class="stitched watch-list">
  <%= form_for(@user, url: users_path, multipart: true) do |f| %>
<h3>Account Information</h3>
<div class="row-split">
  <div class="col-md-6">
    <%= f.label :full_name %>
    <%= f.text_field :fullname,  autofocus: true%>
  </div>
</div>

<div class="row-spit">
  <div class="col-md-6">
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </div>
</div>

<div class="row-spit">
  <div class="col-md-4">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>

<div class="row-split">
  <div class="col-md-4">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
</div>

<div class="row-split">
  <div class="col-md-4">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
</div>

<div class="split-row">
  <div class="col-md-6">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
</div>

<div class="split-row">
  <div class="col-md-6">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
</div>


  <div class="col-md-10">
<div class="row align-log">

  <br><br><h3>Billing Information</h3>
  </div>
</div>
<div>

<div class="row-split">
  <div class="col-md-6">
    <%= f.label :street %>
    <%= f.text_field :street%>
  </div>
</div>

<div class="row-split">
  <div class="col-md-6">
    <%= f.label :apt_number %>
    <%= f.text_field :apt_number%>
  </div>
</div>

<div class="row-split">
  <div class="col-md-4">
    <%= f.label :city %>
    <%= f.text_field :city%>
  </div>
</div>

<div class="row-spit">
  <div class="col-md-4">
    <%= f.label :state %>
    <%= f.text_field :state%>
  </div>
</div>

<div class="row-spit">
  <div class="col-md-4">
    <%= f.label :zip_code %>
    <%= f.text_field :zipcode%>
  </div>
</div>

<div class="row-spit">
  <div class="col-md-4">
    <%= f.label :credit_card %>
    <%= f.text_field :credit_card%>
  </div>
</div>

<div class="row-split">
  <div class="col-md-8">
   <%= f.label :expiration_date %>
    <%= f.date_select :cc_expiration_date, start_year:Date.today.year, end_year: Date.today.year + 10, discard_day: true %>
  </div>
</div>

<div class="row align-login">
  <div class="col-md-12">
    <%= f.submit "Submit", :class => "btn btn-info" %><br><br>
    <%= link_to "Already a Member? Login", login_path %>
  </div>
</div>

  <% end %>

</div>
