<div class="container">
  <%= render :partial => 'layouts/user_header.html.erb' %>
  <%= render :partial => 'layouts/sitewide_header.html.erb' %>

  <% if current_user.display_name.blank? %>
    <h1>Welcome, <%= current_user.fullname %>!</h1>
  <% else %>
    <h1>Welcome, <%= current_user.display_name %>!</h1>
  <% end %>

  <div class="row">
    <div class="four columns">
      <%= image_tag current_user.avatar.url %>
    </div>

    <div class="eight columns">
      <ul>
        <li><%= link_to "Edit Profile", edit_users_path(@user) %></li>
        <li><%= link_to "Past Orders", orders_path %></li>
      </ul>
    </div>
    
  </div>

</div>
