<div class="container">
<%= render :partial => 'layouts/user_header.html.erb' %>
<%= render :partial => 'layouts/sitewide_header.html.erb' %>
<h1>Order</h1>
<div class="stitched">
<table>
<tr>
  <th>Quantity</th>
  <th>Beer Name</th>
  <th>Subtotal</th>
</tr>
<% @order.beers.each do |beer| %>
  <% OrderBeer.quantities(beer.id, @order.id).each do |ob| %>
    <tr>
      <td><%= ob.quantity %></td>
      <td><%= link_to beer.name, beer_path(beer) %></td>
      <td>subtotal: <%= number_to_currency(OrderBeer.line_item_subtotal(beer.price, ob.quantity.to_i)) %></td>
    </tr>
  <% end %>
<% end %>
</table>

<ul class="orders">
  <li><%= number_to_currency(@order.total) %> |</li>
  <li>status: <%= @order.status %> |</li>
  <li>submitted: <%= @order.created_at.to_date %></li>
</ul>
<br/><br/>
<% if @order.status == "completed" %>
  Completed on: <%= @order.updated_at.to_date  %>
<% elsif @order.status == "ordered" %>
  <%= link_to "Pay with Credit Card", charges_path(order_id: @order.id) %>
<% elsif @order.status == "cancelled" %>
  Cancelled on: <%= @order.updated_at.to_date  %>
<% end %>


</div>
</div>
