<div class="row" id="store-div">
<div class="col-md-12"><h1 class="store-name store-index"><%= current_store.name %></h1></div>
</div>
<% current_store.items.each do |item| %>
<div class="col-md-2 items">
  <%= image_tag item.attachment.url %>
  <h6 class="item-name text-center"> <%= link_to item.name, store_item_path(item, id: item.id) %> </h6>
  <p class="time"><%= distance_of_time_in_words(Time.now, item.expiration_date) %> | current bid: <%= number_to_currency(item.starting_price) %></p>

<%= form_for(:order, url: :watch_items) do |f| %>
  <%= f.label :minimum_bid, :id => 'minimum-bid' %>
  <%= f.number_field :price, value: item.starting_price + 1.00 %>
  <%= f.hidden_field :item_id, value: item.id %>
  <%= f.hidden_field :item_price, value: item.starting_price %>
  <!-- should be bid price -->

  <% if current_user %>      
  <%= f.submit "Bid Now", url: watch_items_path %>
  <% else %>
  <%= f.submit "Bid Now", url: login_path %>
  <% end %>
  <%= f.submit "Watch", url: watch_items_path %>
<% end %>
</div>
<% end %>