<div class="row">
  <div class="four columns ind_beer">
    <%= image_tag @beer.attachment, class:"individual_beer" %>
  </div>

  <div class="eight columns">
    <%= @beer.name %><br>
    <%= @beer.description %><br>
    <p><%=number_to_currency(@beer.price/100) %></p>
    <%= @beer.state %><br>
    
    <p>Categories:</p>
    <ul>
      <% @beer.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  
  </div>
  
</div>
