<!DOCTYPE html>
<html>
<head>
  <title>BeerWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <?xml version="1.0" encoding="UTF-8"?>
  <CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
    <CORSRule>
      <AllowedOrigin>http://localhost:3000</AllowedOrigin>
      <AllowedMethod>GET</AllowedMethod>
      <AllowedMethod>POST</AllowedMethod>
      <AllowedMethod>PUT</AllowedMethod>
      <AllowedHeader>*</AllowedHeader>
    </CORSRule>
  </CORSConfiguration>
</head>
<body>

<nav class="top_nav">
  <ul>
    <% if current_user %>
    <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "Login", login_path %></li>
    <% end %>
    <li><%= link_to 'Register', new_users_path %></li>
    <li>Shopping Cart</li>
  </ul>
</nav>

<nav class="main">
  <ul>
    <li>Story</li>
    <li><%= link_to "Drinks", beers_path %></li>
    <li>Logo</li>
    <li>Find</li>
    <li>Contact</li>
  </ul>
</nav>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :class => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
